body{
    background-color: #353535;
}
.member img {
    border-radius: 50%;
    border: 7px solid #d44171;
    box-shadow: 2px 4px 18px 4px #000;
}
.member {
    text-align: center;
    width: 25%;
    background: #1e1e1e;
    display: inline-block;
    padding: 30px 20px;
    color: #fff;
    box-shadow: 2px 3px 16px -1px #000;
    margin: 1% 2%;
    font-family: sans-serif;
}
.member a {
    background: #D44171;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 0px 10px 5px #ba648da6;
}
.member h1 {
    font-size: 33px;
    text-shadow: 0px 2px 7px #D44171;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.team {
    padding: 0px 80px;
}
